body, html {
    height: 100%;
    background-image: url("profile_pict.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.body-profile {
    height: 100%;
    width: 100%;
}

.title-profile {
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}